TGBot/Recognition/1.pt
TGBot/Recognition/2.pt
TGBot/Recognition/3.pt
TGBot/Recognition/4.pt
TGBot/Recognition/5.pt
TGBot/Recognition/6.pt
TGBot/Recognition/7.pt
TGBot/Recognition/8.pt
TGBot/Recognition/tags.pt

venv
TGBot/__pycache__
TGBot/Recognition/__pycache__
TGBot/Recognition/crops
TGBot/Recognition/merge
TGBot/Recognition/photos
TGBot/Recognition/Pht-for-cmpr
TGBot/Recognition/products_photo
TGBot/Recognition/utils/__pycache__
TGBot/Recognition/models/__pycache__
TGBot/Recognition/utils/segment/__pycache__
TGBot/.idea
